<%- include('Header.ejs',{title:"Dasboard-Admin-Laundry",auth:auth,data:data,admin:admin}) %>
<div id="container" style="display: flex;">
    <div id="sidebar" style="padding-right: 50px;">
        <ul id="ulside">
            <li id="orderintakebtn"><a href="/admin/dashboard">ORDER INTAKE</a></li>
            <li id="orderdeliverybtn"><a href="/admin/orderdelivery">ORDER DELIVERY</a></li>
            <li id="checkuserbtn"><a href="/admin/checkuser">CHECK USER</a></li>
        </ul>
    </div>
    <div id="rightcontent">
            <h1>Check User</h1> 
                <label for="roll">Roll no:</label>
                <input type="text" name="roll" id="roll"><br>
                <br>
                <button type="submit" id="SUBMIT" class="btn btn-primary" onclick="checkuser()">SEARCH</button>
            <div id="result"></div>
    </div>
</div>
<script>
    function checkuser(){
        var xhttp = new XMLHttpRequest();
        var rollno=document.getElementById("SUBMIT");
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
           document.getElementById("result").innerHTML = this.responseText;
          }
        };
        xhttp.open("POST", "/checkuser", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("rollno="+(document.getElementById("roll").value));
    }
</script>
<style>
    #ulside{
        list-style-type: none;
        margin: 15px;
       

    }
    #ulside li{
        border: solid 2px black ;
        padding: 25px ;
    }
    #ulside li:hover{
     cursor: pointer;
     text-decoration: underline;   
    }
    .current{
        font-size: large;
        color: green;
    }
</style>
<%- include('Footer.ejs') %>
<script>
    function changed(){
        console.log("changed")
    }
</script>

