<%- include('../components/header',{title:"Order Intake-Dasboard-Laundry",auth:auth,data:data,admin:admin}) %>
<h1>ORDER INTAKE</h1>
<a href="/admin/dashboard">BACK TO ADMIN DASHBOARD</a>
<%- include('../components/footer') %>