<%- include('../components/header',{title:"Order Delivery-Laundry",auth:auth,data:data,admin:admin}) %>
<h1>ORDER DELIVERY</h1>
<a href="/admin/dashboard">BACK TO ADMIN DASHBOARD</a>
<%- include('../components/footer') %>