<%- include('../components/header',{title:"Dasboard-Order-Delivery-Laundry",auth:auth,data:data,admin:admin}) %>
<script src="/assets/html5-qrcode.min.js"></script>
<div id="container" style="display: flex;">
    <div id="sidebar" style="padding-right: 50px;">
        <ul id="ulside">
            <li id="orderintakebtn"><a href="/admin/dashboard">ORDER INTAKE</a></li>
            <li id="orderdeliverybtn"><a href="/admin/orderdelivery">ORDER DELIVERY</a></li>
            <li id="checkuserbtn"><a href="/admin/checkuser">CHECK USER</a></li>
        </ul>
    </div>
    <div id="rightcontent">
            <h1>Order Delivery</h1>
            <div id="orderintakereader" style="height: 500px; width:500px"></div>
            <div id="result"></div>
    </div>
</div>

<style>
    #ulside{
        list-style-type: none;
        margin: 15px;
       

    }
    #ulside li{
        border: solid 2px black ;
        padding: 25px ;
    }
    #ulside li:hover{
     cursor: pointer;
     text-decoration: underline;   
    }
    .current{
        font-size: large;
        color: green;
    }
</style>
<%- include('../components/footer') %>

<script>
    const scanner=new Html5QrcodeScanner("orderintakereader",{
        qrbox:{
            width:400,
            height:400,
        },
        fps:20,
    });
    scanner.render(success,error)
    function error(err){
        console.log(err)
    }
    function success(result){
        console.log(result);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
           document.getElementById("result").innerHTML = this.responseText;
          }
        };
        xhttp.open("POST", "/orderdelivery", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("rollno="+result);
    }

    const scanner1=new Html5QrcodeScanner("orderdeliveryreader",{
        qrbox:{
            width:400,
            height:400,
        },
        fps:20,
    });
    scanner1.render(success1,error1)
    function error1(err){
        console.log(err)
    }
    function success1(result){
        console.log(result);
        //scanner.clear();
    }
</script>